// 定义颜色变量
$warning_color: #FF9A2A;
$de_warning_color: rgba(255, 154, 42, 0.2);
$primary_color: #7fbc39;
$de_primary_color: rgba(127, 188, 57, 0.2);
$info_color: #00b4cf;
$de_info_color: #01869A;
$default_color: #2D4054;
$de_default_color: #435466;
$gray_color: #F3F3F3;
$de_gray_color: #E1E4E6;

// 布局长度
$content_width: 1320px;
$head_height: 58px;// 头部高度
$menu_width: 300px; // 菜单栏宽度

$card_width: 300px; // agent 卡片宽度
